meta(charset='utf-8')
- var title = ''
- if (is_tag()) title += __('tags') + ': ' + page.tag + ' | '
- else if (is_category()) title += __('categories') + ': ' + page.category + ' | '
- else if (is_archive()) title += __('archives') + ' | '
- else if (page.title) title += page.title + ' | '
- title += config.title

title #{title}

meta(name='author', content=page.author ? page.author : config.author)
meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
meta(name="renderer" content="webkit|ie-comp|ie-stand")
if theme.theme_color
  meta(name="theme-color" content=theme.theme_color)
if theme.rss
  link(rel='alternate', type=theme.rss.type, title='RSS', href=theme.rss.href)
if theme.sitemap
  link(rel='sitemap', type=theme.sitemap.type, title='Sitemap', href=theme.sitemap.href)
link(rel='canonical', href=url)
if theme.favicon
  link(rel="icon" type=theme.favicon.type href=theme.favicon.href)
link(rel='stylesheet' href=site.themeAssets['main.css'])
script(src=site.themeAssets['main.js'] defer)
